





html,body {
	background: darkblue;
}





/**
.col-lg-2:first-child {
	color:white;
	top: -1.25em;
	font-size:500%;
	font-family: cursive;
}
	**/



/**
	the links in the header
<<
	.headerone {
	background-color: darkblue;
	padding-bottom: 3em;
}
**/

/**

#bg {
	position: fixed;
	top: 5em;
	left: 0;

	/* Preserve aspet ratio */

	/**
	min-width: 100%;
	min-height: 100%;
}

**/


/**
.lltitle {
	color: white;
	font-size-adjust: 0.5;
	padding-right: 20em;
	/*padding-right: 20em;
}


*/


button {
	padding: 0;
	border: none;
	background: none;
}


#lldevbutt {
	color: black;
}

#aboutButt {
	color: darkblue;
}

#webdevButt {
	color: darkblue;
}

#busidevButt {
	color: darkblue;
}

#contactButt {
	color: darkblue;
}


