






html,body {
	background: darkblue;


}







/**
this is the content for all the buttons

.row:first-child {
	background: gray;
}
**/

#lldevButt {
	color:darkblue;
	top: -1.25em;
	font-size:500%;
	font-family: cursive;
}




/**
	the links in the header
<<
	.headerone {
	background-color: darkblue;
	padding-bottom: 3em;
}
**/

/**

#bg {
	position: fixed;
	top: 5em;
	left: 0;

	/* Preserve aspet ratio */

	/**
	min-width: 100%;
	min-height: 100%;
}

**/


/**
.lltitle {
	color: white;
	font-size-adjust: 0.5;
	padding-right: 20em;
	/*padding-right: 20em;
}


*/


p {
	 text-align: center;
 }

button {
	padding: 0;
	border: none;
	background: none;
}


#lldevbutt {
	color: black;

}

#aboutButt {
	color: darkblue;
	padding-right: 2em;
	font-size: 2em;
}

#webdevButt {
	color: darkblue;
	padding-right: 2em;
	font-size: 2em;
}

#busidevButt {
	color: darkblue;
	padding-right: 2em;
	font-size: 2em;
}

#contactButt {
	color: darkblue;

	font-size: 2em;
}


